DB_HOST=<add-your-own-hostname>
DB_PORT=<add-your-own-port-number>
DB_NAME=<add-your-own-database-name>
DB_USERNAME=<add-your-own-db-username>
DB_USER_PASSWORD=<add-your-own-db-password>
JWT_SECRET=<generate-your-secret-key>
SERVER_PORT=<add-your-server-port-number>